* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 100vh;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 10px #63f268;
    transform: scale(1.05);
}

header {
    padding: 40px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #404040;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-descktop ul li {
    display: inline-block;
    padding: 0 30px;

}


.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.img-topo-site img {
    border-radius: 40px;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #5ce360;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

.titulo span {
    color: #5ce360;
}


.topo-do-site {
    padding: 40px 4%;

}

.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 38px;
    line-height: 38px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #5ce360;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

.especialidades {
    padding: 40px 4%;

}

.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    margin: 4%;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;

}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.453);

}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #5ce360;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.sobre {
    padding: 80px 4%;

}

.sobre .flex {
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #5ce360;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #5ce360;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.img-sobre img {
    margin: 0 40px;
    border-radius: 60px;
}

.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.163);
}

.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;

}

.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input,
form textarea {
    width: 100%;
    background-color: #404040;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 20px 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input {
    width: 120px;
    background-color: #5ce360;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;

}

.img-port {
    width: 360px;
    height: 460px;
    margin: 0 40px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;

}

.titulo {
    padding-bottom: 50px;
}


.overlay:hover {
    opacity: 1;
}

.copy {
    text-align: center;
    color: #fff;
    margin: 0;
    justify-content: center;
}

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.163);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #5ce360;

}

footer .line-footer p i {
    color: #5ce360;
    font-size: 22px;
}

footer .line-footer p a {
    padding-left: 4px;
    text-decoration: none;
    color: white;
}

.bi-arrow-up-circle {
    margin-left: 98%;
}

.menu-mobile {
    background: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover {
    background-color: #5ce360;
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.715);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

@media screen and (max-width: 1020px) {

    .menu-mobile .btn-fechar i {
        color: #5ce360;
        font-size: 30px;

    }

    .btn-abrir-menu i {
        color: #5ce360;
        font-size: 40px;

    }

    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 35px;
    }

    .menu-descktop,
    .btn-contato {
        display: none;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .topo-do-site .flex {
        gap: 40px;
    }

    .especialidades {
        padding: 40px 8%;

    }

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    section.portifolio {
        padding: 80px 8%;

    }

    .img-port {
        margin: 0 auto;
        max-width: 360px;
        width: 100%;

    }

    .bi-arrow-up-circle {
        margin-left: 95%;
    }

    section.portifolio .flex {
        gap: 50px;
    }

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;

    }
}